:root {
  /* Base colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Greys */
  --color-grey-500: #9699aa;

  /* Orange */
  --color-orange-300: #ffaf7e;

  /* Reds */
  --color-red-500: #ee374a;
  --color-red-450: #e96170;
  --color-red-400: #f9818e;

  /* Purples */
  --color-purple-600: #483eff;
  --color-purple-500: #6259ff;
  --color-purple-400: #928cff;
  --color-purple-200: #d6d9e6;

  /* Blues */
  --color-blue-950: #022959;
  --color-blue-700: #164a8a;
  --color-blue-300: #abbcff;
  --color-blue-200: #bee2fd;
  --color-blue-100: #eff5ff;
  --color-blue-50: #f8f9ff;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-700: 56px;
}
