.background-effect {
  background: url('../../../assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10.75rem;

  @media (min-width: 768px) {
    background: url('../../../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17.125rem;
    height: 35.5rem;
    border-radius: 0.625rem;
    flex-shrink: 0;
  }
}
