.plan {
  display: flex;
  gap: var(--spacing-200);
  border-radius: 0.5rem;
  border: 1px solid var(--colors-purple-200, #d6d9e6);
  background: var(--colors-white, #fff);
  transition: all 0.2s;
  padding: var(--spacing-200, 1rem);
  cursor: pointer;
}

.plan:hover {
  border: 1px solid var(--colors-purple-600, #483eff);
}

.plan-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.plan-name {
  color: var(--colors-blue-950, #022959);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 3 (Medium) - Ubuntu Medium - 16px - 120% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  padding-bottom: 5px;
}

.plan-price {
  color: var(--colors-grey-500, #9699aa);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 4 (Regular) - Ubuntu Regular - 14px - 120% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
}

.plan-time {
  color: var(--colors-blue-950, #022959);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 5 - Ubuntu Regular - 12px - 120% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 0.9rem */
}

/* toggle section */

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  gap: var(--spacing-200);
  background: var(--colors-blue-50, #f8f9ff);
  padding: var(--spacing-200);

  @media (min-width: 768px) {
    margin-top: var(--spacing-300);
  }
}
.switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  background: var(--colors-blue-950, #022959);
  border-radius: 0.625rem;
  width: 2.375rem;
  height: 1.25rem;
  padding: 0.25rem;
  display: flex;
}

.slider:before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-white);
  flex-shrink: 0;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider:before {
  transform: translateX(1rem);
}

.billing {
  color: var(--colors-blue-950, #022959);
  text-align: right;
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 4 (Medium) - Ubuntu Medium - 14px - 150% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
}
