.form-content.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
}

.summary-icon {
  width: 3.5rem;
  height: 3.5rem;

  @media (min-width: 768px) {
    width: 5rem;
    height: 5rem;
  }
}

.summary-title {
  color: var(--colors-blue-950, #022959);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 2 - Ubuntu Bold - 24px - 120% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.8rem */

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.summary-message {
  color: var(--colors-grey-500, #9699aa);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Text Preset 3 (Regular) - Ubuntu Regular - 16px - 150% Line Height - 0px Line Spacing */
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  padding-inline: var(--spacing-400);
}
