.btn-next {
  color: var(--color-white, #fff);
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.5rem;
  background: var(--color-blue-950, #022959);
  padding: 0.875rem 1rem;
  min-width: 6rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: auto;

  @media (min-width: 768px) {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}

.btn-next:hover {
  background-color: var(--color-blue-700);
}

.btn-back {
  color: var(--color-grey-500, #9699aa);
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s ease;
  padding: 0.875rem 0;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.btn-back:hover {
  color: var(--color-blue-950);
}
