/* Content Wrapper */
.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5rem; /* Space for fixed navigation on mobile */

  @media (min-width: 768px) {
    flex: 1;
    padding: var(--spacing-400);
    padding-bottom: var(--spacing-400);
  }
}

/* Form Container */
.form-container {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: var(--spacing-500) var(--spacing-300);
  margin: -4.5rem var(--spacing-200) 0;
  box-shadow: 0 16px 24px rgba(2, 41, 89, 0.08);
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex: 1;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    justify-content: space-between;
  }
}

/* Form Content */
.form-content {
  flex: 1;
  animation: fadeIn 0.4s ease-in-out;
}

/* Form Header */
.form-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  margin-bottom: var(--spacing-300);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-blue-950);

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.form-subtitle {
  color: var(--color-grey-500);
  line-height: 1.5;
}

/* Form Fields */
.form-fields {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.field-label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-blue-950);

  @media (min-width: 768px) {
    font-size: 0.875rem;
  }
}

.field-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-input {
  border: 1px solid var(--color-purple-200);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: var(--color-blue-950);
  font-size: 1rem;
  background-color: var(--color-white);

  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.field-input.error {
  border: 1px solid var(--color-red-500);
  animation: shake 0.4s ease-in-out;
}

.field-input::placeholder {
  color: var(--color-grey-500);
}

.field-input:focus {
  border-color: var(--color-purple-600);
  outline: none;
}

.field-input:hover {
  border-color: var(--color-purple-600);
}

.field-error {
  font-size: 0.75rem;
  color: var(--color-red-500);
  opacity: 0;
  transition: all 0.3s;
}

.field-error.active {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
